<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <title>
            {% block title_block %}
                GameRate
            {% endblock %}
        </title>
    </head>

    <body>
        <nav>
            <div class="logo">GameRate</div>

            <div class="search">
                <form method="GET" action="{% url 'game_search' %}">
                    <input type="text" name="query" placeholder="Search for a game..." list="game-list" autocomplete="off">
                        <datalist id="game-list">
                            {% for title in all_game_titles %}
                                <option value="{{ title }}">
                            {% endfor %}
                        </datalist>
                    <button type="submit">Search</button>
                </form>
            </div>
                
            <ul class="menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'game_library' %}">Game Library</a></li>

                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>            
        </nav>

        <div class="page-content">
            {% block body_block %}
            {% endblock %}
        </div>
        {% block scripts %}
        {% endblock %}
    </body>
</html>