{% extends 'base.html' %}

{% block title_block %}
Video Game Library
{% endblock %}

{% block body_block %}
<div class="library-container">
    <h3>Video Game Library</h3>

    {% if user.is_staff %}
    <div class="add-game-button">
        <a href="{% url 'add_game' %}" class="button-link">Add New Game</a>
    </div>
    {% endif %}

    <div class="games-container">
        {% for game in games %}
        <div class="game-item">
            <a href="{% url 'game_detail' game.id %}" class="game-link">
                <img src="{{ game.image }}" alt="{{ game.title }}">
                <h3>{{ game.title }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}