{% extends 'base.html' %}

{% block title_block %}{{ game.title }}{% endblock %}

{% block body_block %}
<div class="detail-container">
    <div class="detail-item">
        <h2>{{ game.title }}</h2>
        <div class="right">
                <div class="image-col">
                    <img src="{{ game.image }}" alt="{{ game.title }}">
                </div>
                <div class="details">
                    <ul>
                        <li><strong>Genre:</strong> {{ game.genre }}</li>
                        {% if game.rating %}
                        <li><strong>Rating:</strong> {{ game.rating }}</li>
                        {% endif %}
                        <li><strong>Release Year:</strong> {{ game.release_year }}</li>
                        <li><strong>Developer:</strong> {{ game.developer }}</li>
                    
                    </ul>
                </div>
            <div class="desc-col">         
                <p class="game-desc">{{ game.description }}</p>
            </div>            
        </div> 
 

        {% if user.is_staff %}
        <div>
            <a href="{% url 'edit_game' game_id=game.id %}" class="button-link">Edit Game</a>
            <br>
            <a href="{% url 'delete_game' game_id=game.id %}" class="button-link">Delete Game</a>
        </div>
        {% endif %}

        <h3>Leave a Review</h3>
        {% if user.is_authenticated %}
        <form method="post" class="review-box">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit Review</button>
        </form>
        {% else %}
        <p><a href="{% url 'login' %}">Log in</a> to leave a review.</p>
        {% endif %}

        <h3>Reviews</h3>
        <div class="review-box2">
            {% for review in reviews %}
                <div>
                    <strong>{{ review.user.username }}</strong> rated it <strong>{{ review.rating }}/10</strong>
                    <p>{{ review.review_text }}</p>
                    <small>Posted on {{ review.created_at|date:"d M, Y" }}</small>
                </div>
            {% empty %}
                <p>No reviews yet. Be the first to review!</p>
            {% endfor %}
        </div>


        
    </div>    
</div>
{% endblock %}