{% extends 'base.html' %}

{% block title_block %}
Video Game Library
{% endblock %}

{% block body_block %}
<div class="library-container">
    <h3>Video Game Library</h3>

    {% if user.is_staff %}
    <div class="add-game-button">
        <a href="{% url 'add_game' %}" class="button-link">Add New Game</a>
    </div>
    {% endif %}

    <div>
        <form method="get">
            <label for="genre">Genre:</label>
            <select name="genre" id="genre">
                <option value="">All</option>
                {% for g in genres %}
                    <option value="{{ g }}" {% if request.GET.genre == g %}selected{% endif %}>{{ g }}</option>
                {% endfor %}
            </select>

            <button type="submit">Filter</button>
        </form>
    </div>
    <br>
    <div class="games-container">
        {% for game in games %}
        <div class="game-item">
            <a href="{% url 'game_detail' game_id=game.id %}" class="game-link">
                <img src="{{ game.image }}" alt="{{ game.title }}">
            <div style="display: flex; flex-direction: column;">
                <p><strong>{{ game.title }}</strong></p>
                <p><strong>Genre:</strong> {{ game.genre }}</p>
                <p><strong>Release:</strong> {{ game.release_year }}</p>
                <p><strong>Developer:</strong> {{ game.developer }}</p>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}